<h1>
	<a
		href="https://www.mercedes-benz.de/passengercars/mercedes-benz-cars/vehicle-search.html#/u/used-vehicles/d/id/{{&id}}"
	>
		{{vehicleConfiguration.salesDescription}}
	</a>
</h1>

<h2>
	{{priceInfo.offerPrice.gross}} - {{condition.mileage}} -
	{{condition.firstRegistrationDate}} {{#salesInfo.salesProgram}} [{{text}}]
	{{/salesInfo.salesProgram}}
</h2>

{{#remark}}
<p>{{.}}</p>
{{/remark}}

<hr />

{{#photos}}
<img src="{{&url}}" />
{{/photos}}

<h2>Sonderausstattung</h2>
<ul>
	{{#goodStuff}}
	<li>{{name}}</li>
	{{/goodStuff}}
</ul>
